# Ignore raw and processed data directories
data/raw/
data/processed/
Deprecated/
models/*.pth
notebook/audio_quantization.ipynb
notebook/audioClassificationTutorial.ipynb
notebook/PTQdemo.ipynb
notebook/QATdemo.ipynbdeprecated/
logs/profiling_logs/*.lprof
__pycache__/
build/
src.egg-info/
TODO.md
models/*.onnx
*.png